<!DOCTYPE HTML>

<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>

<div class="container">
    <h1>Welcome to cloudslip-pipeline From Cloudslip</h1>
    <br/>
    <h2>Congratulations !! you have created and deployed your application by one click !!</h2>
    <br/>
    <p><strong>Now its <span th:text="${time}">(time)</span></strong></p>

</div>

<script src="/webjars/jquery/3.2.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
